<%- include("header") -%>
    <div class="box" id="heading">
        <!-- <%= console.log(listTitle) %> -->
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for (var i=0; i<newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <!-- autocomplete 자동완성 제거 -->
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>

    </div>

    <!-- 자바스크립트문을 사용하기위해서는 <% %>를 사용해야한다. -->


    <!-- <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li> -->

    <!-- ejs 스니펫이라고 한다. <% %> -->


    <%- include("footer") -%>